.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* -- code to use Gotham font-family in theme -- */
@font-face {
  font-family: 'Gotham';
  src: 	url('{{ "Gotham-Bold.eot" | asset_url }}');
  src: 	url('{{ "Gotham-Bold.eot" | asset_url }}#iefix') format("embedded-opentype"),
      	url('{{ "GothamBold.woff" | asset_url }}') format("woff"),
	url('{{ "GothamBold.woff2" | asset_url }}') format("woff2"),
     	url('{{ "GothamBold.svg" | asset_url }}#GothamBold') format("svg");
        font-weight: bold;
        font-style: normal;
}








.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Banner */
.banner {

 
  /* position: absolute; */
  z-index: 999;
  box-sizing: border-box;
  padding: 40px 40px;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(191,149,90,0.95);
  text-align: center;
  color: white;
  font-size: 30px;
  line-height: 18px !important;
 
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  
}
/* NavBar */


/* UPDATED */
/* Style The Dropdown Button */
.dropbtn {
 background-color:white;
  color: rgba(191,149,90,0.95);
  padding: 16px;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
 
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgba(191,149,90,0.95);
  padding: 22px 26px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgba(191,149,90,0.95);
  color: white;
}

.drop-cart{
  font-size: 30px;
}

/* END  */
.flex {
  display:flex;
}

.subscriptions{
  font-size: 30px;
}
.horse{
  margin-left: 10px;
}
.home {
  font-size: 30px;
  margin-left: 17px;
  text-decoration: none;
  color: black
}
.cart{

  position: absolute;
  right: 0;
  
  
}
.span-cart{
  font-size: 30px;
  margin-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  color: rgba(191,149,90,0.95);
}


.locations {
  font-size: 30px;
  margin-left: 17px;
  text-decoration: none;
  color: black;
}


.searchBar {
  width: 0%;
 
  
  
}
input[type=text], select  {
  padding: 12px 20px;
  margin: 8px 0;

  
  /* border: 5px solid black; */

  border-radius: 5px;
  }
  .select{
    font-size: 30px;
  }

/* Header Stumptown logo */

.header-logo{
  width: 3000px;
}
.stump {
 font-family: 'Alegreya SC', serif;
 letter-spacing: 9px;
 font-size: 200px;
}



/* Header Coffee Roasters wording */

.coffee {
  font-family: 'Changa One', cursive;
  letter-spacing: 7px;
  font-size: 90px;
  position: absolute;
  top: 1700px;
  right: 970px;
  

}

/* Item Card */

 .row::after {
  content: "";
  clear: both;
  display: table;
}
.column{
   /* border: 1px solid pink;  */
  
   float: left; 
   width: 50%; 
   padding: 5px; 

 }  
.name {
font-weight: bold;
font-size: 40px;
text-align: center;
}
.price {
  font-size: 30px;
  text-align: center;


}

.add {
  color: rgba(191,149,90,0.95);
  font-size: 30px;
  font-weight: bold;
  margin-left: 250px;
  display:flex;

  
}
p:hover {
  color:  rgba(191,149,90,0.95);
} */
/* Item Detail Indvidual Card */





/* Cart Page */



.flex-cart {
display: flex;
justify-content: space-around;

}

.total-box {
  display: flex;
  /* padding: 100px; */
  padding-left: 1300px;
  
}
.sub-form{
  height: 200px;
  width: 200px;
}

.button{
  display: flex;
  padding-left: 95px;

}
.checkout-btn {
  padding: 25px;
  font-size: 20px;
}

.checkout{
  /* padding: 40px; */
  border-radius: 134px;
  
  
}

.label-font{
  font-size: 54px;
}

.plus-btn, .neg-btn{
  font-size: 30px;
  border-radius: 50px;
  padding: 20px;


}


/* Footer */
.main-footer{
  padding: 40px;
  background-color: #282c34;
  color: white;
  
}
.need-help{
  font-size: 40px;
}
.li-it{
  font-size: 25px;
  padding: 15px;
  color:  rgba(191,149,90,0.95);
}
.phone{
  font-size: 35px;
  color:  rgba(191,149,90,0.95);
  
}

.list-unstyled {
  list-style-type: none;
  
}

/* ALL BUTTONS */

button {
padding: 0;
border: none;
background: none;
cursor: pointer;
}

/* Item card */

.item-name {
  font-family: 'Gotham';
  font-size: 120px;
  color: #512c1d;
  
}
.price1 {
  padding-top: 510px;
  font-size: 100px;
  font-family: 'Gotham';
  color: #512c1d;
  display:flex;
  align-self: flex-end;
  margin-left: 45px;

 
}

.bean{
  color: #1f1815;
  font-size: 30px;
 display:flex; 
  align-items: center;
 margin-left: 150px;
 font-weight: bold;
}

.add1{
  display: flex;
 
  /* align-items: flex-start; */
  font-size: 30px;
  margin-top: 40px;
  color: rgba(191,149,90,0.95);
  font-weight: bold;
  margin-left: 170px;
  
  
}
.max{
  max-width: 450px;
  margin-bottom: 40px;
  
  /* max-width: 150px; */
}

.desc {
  font-size: 30px;

  display:flex;
  align-self: flex-end;
 
  line-height: 150%;
  

  
}





.child {
  align-items:center;
  display:flex;
  border: 10px solid yellow;
}
.desc-info{


  padding: 175px;
  margin-top: 670px;
  /* margin-right: 1400px; */
  }

  .detail-name{
    text-align: center;
    /* margin-top: 440px; */
    margin-left: 800px
  }



/* SUBSCRIPTIONS */

.sub {
  display: flex;
  margin-left: 50px;
  color: rgba(191,149,90,0.95);
  font-size: 40px;

  
  
}
/* top three on sub page */

.free, .popular,.hair{
width: 950px;
}

.sub-row,.sub-2,.sub1,.sub-row2,.sub-row3,.sub-3,.sub-4{
  display: flex;
}

.holler, .house, .frenchro,.trapper {
  width: 750px;
}
.sub-row3{
  margin-bottom: 45px;
}

.padding{
  margin-bottom: 145px;

}
.free-sam1{
  width: 950px;
  font-size: 3em;
  line-height: 1.4em;
  margin-bottom: 0.75em;
  font-family: 'Gotham';
  color: #1f1815;

}

.button1{
  width: 450px;
  text-align: center;
  border: 5px solid white;
  padding: 25px;
  background-color:#bf955a;
  font-family: 'Gotham';
  font-size: 60px;
  color:white;
  

}

.sub-3{
  justify-content: space-around;

  /* margin-left: 50px; */
  
}

.free-sam{
  width: 950px;
  text-align: center;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;

}

.choose{
  font-size: 7em;
  line-height: 1em;
  color: #1f1815;
  font-family: 'Gotham';

}

.choose1{
  font-size: 3em;
  color: #1f1815;
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;

}

/* Locations */
.pdx, .nyc{
  width: 1350px;
}



.location-name{
  font-size: 150px;
  font-family: 'Gotham';
color: #bf955a;


}

.hours{
  font-size:20px;
  font-weight: 800;
  color: #bf955a;
  font-family: 'Gotham'; 
  
}

.address{
  font-size: 30px;
}
/* Cart modal */

.order-details{
  text-align: center;
}
.li-item{
  font-size: 25px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

/* CART CHECKOUT PAGE */

.cart-price,.subtotal{
  margin-top: 50%;
  font-size: 30px;
}

.qty-button{
  margin-top: 75%;
}
.x {
  margin-top: 190%;
  font-size: 33px;
  

}

.cart-head {
  font-size: 100px;
  font-family: 'Gotham';
  color: #512c1d;
  padding-bottom: 100px;
}   

.cart-font{
  color: white;
}
.cart-total-cont{
  border-top: 2px solid black;
  padding: 30px;
}

.cart-desc{
  font-size: 30px;
  font-family: 'Gotham';
}

.item{
  font-size: 40px;
}


/* MAP ICON */
.coffee-marker{
  width: 50px;
  height: 60px;
}

.pop-up-name{
  font: 70px;
  font-family: 'Gotham';
  color: #bf955a;

}
.pop-up-hours{
font: 70px;
font-weight: 700;

}

.pop{
  padding: 40px;
}


/* LOGIN */
.login {
  font-size: 106px;
  font-family: 'Gotham';
  
  color: #1f1815;
}

.login-p{
  font-size: 56px;
  font-family: 'Raleway', sans-serif;
}


.img-login{
  width: 300px;
}

.span-login{
   color: #bf955a;
}


